body {
    font-family: 'Roboto', sans-serif;
    padding: 0px 10px;
    }

.jumbotron {
    background-image:url("../img/truck.png");
    background-position: 50% calc(50% - 1.5rem);
    background-repeat: no-repeat;
    background-size: cover;
}

div > h1 {
    color: white;
    text-shadow: rgba(0,0,0,.9) 2px 2px 5px;
}

.container {
    text-align: center;
}

form {
    padding: 0px 5px;
    border-color: whitesmoke;
}

tr > th {
    width: 25%
}

tfoot > tr > td {
    color: grey;
    text-align:right;
    font-size: 12px;
    font-style: italic;
}